<h4><%= t('blacklight.welcome') %></h4>
<p>&nbsp;</p>
<p>Gooooood afternoon campers! I mean developers. This file, located at '/app/views/catalog/_home_text.html.erb' should be changed to something serious. Because this totally isn't.</p>
<p>Someone (Joe?) should figure out how we change the stylings of these pages, like the Blacklight searchbar up top</p>
<% #Creates a bit space in the page -%>

